<div class="song">
    <h5>Title:{{title}}</h5>
    <h5>Artist: {{artist}}</h5>
    <img class="cover" src="{{imageURL}}" />
    <p>Likes: 100; Listened 1500 times</p>
    <a href="#/edit/{{_id}}"><button type="button" class="btn btn-success mt-4">Edit</button></a>
    <a href="#/delete/{{_id}}"><button type="button" class="btn btn-danger mt-4">Remove</button></a>
    <p>Likes: 100</p>
    <a href="#"><button type="button" class="btn btn-primary mt-4">Like</button></a>
</div>