<tr>
    <td class="">0</td>
    <td class="">{{product}}</td>
    <td class="description">{{description}}</td>
    <td class="">{{price}}</td>
    <td>
        <a href='#/details/{{_id}}' class="btn-primary btn">Order details</a>
    </td>
    <td>
        <a href='#/delete/{{_id}}' class="btn-danger btn">Delete</a>
        <a href='#/edit/{{_id}}' class="btn-info btn">Edit</a>
        <!--BONUS (Not-Required)--><a href="" class="btn-warning btn">Buy</a>
        <!--BONUS (Not-Required)-->
    </td>
</tr>